
header {
  position: fixed;
  width: 100%;
  padding: 20px 25px; 
}

.toggle-icon {
  width: 40px;
  height: 40px;
  background: url('../images/icons/hamburger-menu.svg') no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* Hero section styling */
#hero {
  min-height: 100vh;
  background: url('/images/bg-mobile.jpg') no-repeat;
  background-size: cover;
  background-position: right top;
}
