:root {
  --orange: #ec5242;
  --orange-2: #ef3f27;
  --orange-3: #f9422a;
  --black: #272a31;
  --black-2: #5d5d5d;
  --black-3: #484848;
  --black-4: #262930;
  --gray: #d3d3d3;
  --gray-2: #f7f7f7;
  --white: #fff;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  outline: none;
  border-radius: 8px;
  display: block;
  padding: 10px;
  transition: size 0.12s ease-in-out;
}

h1,
h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.cocogoose {
  font-family: 'Cocogoose', sans-serif;
}

.orange {
  color: var(--orange);
}

/* Footer section styling */

footer {
  padding: 40px 15% 40px 15%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--black-3);
}

/* Header section styling */

header {
  position: absolute;
  max-width: 100vw;
  padding: 20px 25px;
}

/* Hero section styling */

#hero {
  background: url('../images/bg-mobile.jpg') no-repeat;
  background-size: cover;
  background-position: right top;
  padding: 20vh 20px 100px 20px;
}

.event-item h2 {
  color: var(--orange);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-title {
  text-transform: uppercase;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('../images/bg-text-overlay.png');
  background-position: top;
}

.hero-description {
  margin-top: 20px;
  color: var(--black-2);
  background-color: var(--gray-2);
  border: 2px solid var(--white);
  padding: 10px;
}

.hero-date {
  font-size: 1.5rem;
  color: var(--black);
}

.hero-address {
  color: var(--black-3);
}

/* The training section styling */

#the-training {
  background-color: var(--black-4);
  background-image: url('../images/bg-the-training.png');
  background-size: 15px;
  padding: 30px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.the-training-title {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.the-underline::after {
  content: '';
  display: flex;
  background-color: var(--orange);
  width: 50px;
  height: 2px;
  margin: 0 auto;
}

.events {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.event-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background: #0006;
  padding: 10px;
  outline: none;
  transition: outline 2s ease-in-out;
}

.event-item:hover {
  outline: 1px solid var(--white);
}

/* Trainers Section styling */

#trainers {
  padding: 30px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainers-section-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#trainers-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trainer {
  display: flex;
}

.trainer-photo {
  background: url('/images/black-and-white.jpg') no-repeat;
  background-size: 50px 50px;
  padding: 12px;
  width: 30%;
}

.trainer-photo img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.trainer-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trainer-details h3 {
  font-size: 16px;
}

.trainer-details span {
  color: var(--orange);
  font-size: 14px;
  font-style: italic;
}

.trainer-details span::after {
  content: '';
  height: 1px;
  display: flex;
  width: 20px;
  background-color: var(--gray);
  margin-top: 5px;
}

.trainer-details p {
  margin-top: 8px;
  font-size: 12px;
  color: var(--black-3);
}

/* Partner section styling */

#partners {
  background-color: var(--black-4);
  padding: 30px 20px 40px 20px;
}

.partners-section-title {
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.partners-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.partner-image {
  width: 80px;
  height: 80px;
}

.partner-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* About page styling  */

.about-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-hero h3 {
  font-size: 22px;
  color: var(--orange-3);
}

.about-hero-title {
  text-align: center;
  color: var(--orange-3);
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
  margin-top: 20px;
}

.about-hero-description {
  margin-top: 20px;
  color: var(--black-2);
  background-color: var(--white);
  border: 2px solid var(--white);
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
}

.about-question {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-3);
  gap: 10px;
}

.about-hero-question {
  text-align: center;
  width: 70vw;
}

.about-hero-email {
  color: var(--black-4);
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* The logo section styling  */

.the-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  padding-bottom: 40px;
}

.the-logo-title {
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  color: var(--black-4);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.m-logo-description {
  margin-top: 30px;
  color: var(--black-3);
  font-size: 13px;
  width: 60%;
  text-align: center;
}

.the-logo-container {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
  padding: 30px 10vw;
}

.the-logo-container img {
  height: 80px;
}

/* Past training section styling  */

.past-training {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
}

.past-training-title {
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  color: var(--black-4);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.past-training p {
  color: var(--black-3);
  text-align: center;
  width: 60vw;
  align-self: center;
}

.past-training-container {
  display: flex;
  gap: 20px;
}

.past-training-item {
  width: 100%;
  align-self: stretch;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.past-training-item.aau {
  background: linear-gradient(to top, #ef3f27ba, #f9422aba), url('/images/past-trainings/aau-training.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.past-training-item.ju {
  background: linear-gradient(to top, #ef3f27ba, #f9422aba), url('/images/past-trainings/ju-training.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.past-training-item p {
  color: white;
  font-size: 13px;
}

#about-partners {
  background-color: var(--black-4);
  padding: 30px 20px 40px 20px;
}
