:root {
  --orange: #ec5242;
  --black: #272a31;
  --gray: #d3d3d3;
  --white: #fff;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

a {
  outline: none;
  border-radius: 8px;
  display: block;
  padding: 10px;
  transition: size 0.12s ease-in-out;
}

h1,
h2 {
  font-family: 'Cocogoose', sans-serif;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
